@page "/"
@rendermode InteractiveServer

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="images/zilean-logo.png" alt="Zilean" class="imt-fluid mb-5" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <DashboardTorrentsGrid />
        </div>
    </div>
</div>